{% extends 'account/base.html' %}

{% block content %}
    {% load static %}

<div class="container">
            <div class="row g-0">
                <div class="col-sm-6 col-md-8" id="header-text">
                  <h1 id="header-h1">Ijaz Influx <br> Web Development </h1>
                  <p id="header-paragraph">Creative, flexible and affordable website design., <br> Creativity never end.</p>
                  <a class="btn" style="color: white; background-color: #fd5e14;"type="submit" id="body-link-row">Discover More</a>
                </div>

    </div>
    <h1>Wellcome to our Website</h1>
</div>

{% endblock %}